@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  display: block;
}

img{
  display: block;
  width: 100%;
  border-radius: 5px;
}

body{
  font-family: 'Vollkorn', 'Arial', sans-serif;
}

/* Grid geral do projeto */

.estrutura{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
   "header header header"
   "sidenav content anuncios"
   "footer footer footer"
  ;
}

@media (max-width: 1200px){

  .estrutura{
    grid-template-columns: minmax(160px, 1fr) 3fr;
    grid-template-areas: 
     "header header"
     "sidenav content"
     "sidenav anuncios"
     "footer footer"
    ;
  }

}

@media (max-width: 760px){
  .estrutura{
    grid-template-columns: 100%;
    grid-template-areas: 
     "header"
     "sidenav"
     "content"
     "anuncios"
     "footer"
    ;
  }
}
/* Header */

.header{
  grid-area: header;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.header .logo{
  max-width: 200px;
}

.header nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.header nav a{
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 1.125em;
  border-radius: 5px;
  color: #fff;
  transition: all 300ms ease;
}

.header nav a:hover{
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 760px){
  .header {
    grid-template-columns: auto;
    gap: 30px;
  }

  .header nav a {
    font-size: 1em;
  }
}

/* Sidenav */

.sidenav{
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a{
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: all 300ms ease;
}

.sidenav li a:hover{
  background-color: #b07dfb;
}

@media (max-width: 760px){

  .sidenav{
    padding: 0 30px;
    overflow-x: auto;
    --webkit-overflow-scrolling: touch;
    --ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
  }

  .sidenav::after{
    content: '→';
    position: absolute;
    top: 0;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 300ms ease-in infinite alternate;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav ul li {
    flex: 1 0 100px;
  }

  .sidenav ul li a{
    margin: 30px 30px 30px 0;
  }

}

@keyframes seta{
  from{
    right: 30px;
  }

  to{
    right: 20px;
  }
}

/* Content */

.content{
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide{
  grid-column: 1 / -1;
}

.imagem-1{
  grid-row: span 2;
  align-self: end;
}

.imagem-2{
  align-self: end;
}

p{
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p{
  margin-top: 30px;
}

.titulo{
  color: #b07dfb;
}

.titulo h1{
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo span{
  font-size: 0.875em;
  font-style: italic;
}

.caracteristicas{
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.caracteristicas > div{
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.caracteristicas span{
  display: block;
}

.caracteristicas .numero{
  color: #b07dfb;
  font-size: 3em;
  line-height: 1;
  margin: 10px 0;
}

.caracteristicas .rotulo{
  background-color: #fff;
  color: #8844ee;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.destaque{
  font-size: 0.875em;
  color: #b07dfb;
  max-width: 250px;
}


.citacao,
.atributos{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(44,44,44,0.15);
  background:linear-gradient(135deg, #8844ee, #b07dfb);
}

.atributos{
  align-self: start;
}

.citacao p{
  font-size: 1.5em;
  font-style: italic;
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.atributos li{
  color: #fff;
  font-family: 'Courier', sans-serif;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li{
  border-top: 2px solid #b07dfb;
}

@media (max-width: 600px){
  .content{
    grid-template-columns: auto;
  }

  .destaque{
    max-width: 100%;
  }

}



/* Anuncios */

.anuncios{
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 30px;
  padding: 30px;
}


/* Footer */
.footer{
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
}

.footer p{
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}